h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

header {
    position: relative;
}

figure {
    position: absolute;
    top: 10px;
    right: 5px;
}

figure img {
    max-width: 100px;
    height: auto;
}

nav {
    margin-top: 5px;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0 1em;
}

nav ul li {
    margin: 0 0.25em;
    padding: 0.5em;
    border: 1px solid black;
    box-sizing: border-box;
}

.report-btn-active {
    border: 3px solid black !important;
}

#content {
    margin-top: 5px;
    min-height: calc(100vh - 240px);
    display: flex;
}

#content aside {
    min-width: 17.5%;
}

#content main {
    flex-grow: 3;
    border: 1px solid black;
    padding: 5px;
}

em {
    font-style: italic;
}

#content aside ul {
    padding: 0 0.25em;
}

.aside-btn-active {
    border: 2px solid black !important;
}

#content aside ul li {
    margin: 0.25em 0;
    padding: 0.5em;
    border: 1px solid black;
}

main ul {
    padding-left: 1.5em;
    list-style: disc;
}

footer {
    margin-top: 5px;
    padding: 1em;
    border: 1px solid black;
}